In [1]:
import pandas as pd

read_csv
- отфильтровав строки с индексом 2 и 3 с помощью аргумента skiprows, мы узнаем, что эти наблюдения были поддельными
- отфильтровав последние 2 строки из нижнего колонтитула с помощью аргумента skipfooter, мы знаем, что эти наблюдения тоже были поддельными
- присвойте столбцу следующие имена: datetime, user
- использовать datetime в качестве индексного столбца

In [2]:
df = pd.read_csv(
    'data/feed-views.log',
    sep='\t',
    skiprows=[2,3],
    skipfooter=2,
    names=['datetime','user'],
    engine='python',
    index_col='datetime'
)
print(df.head())
print('')
print(df.tail())

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

переименовать datetime в date_time

In [3]:
df.rename_axis('date_time', inplace=True)
df

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

to_csv
- используйте «;» в качестве разделителя
- сохраните его в файле с именем feed-views-semicolon.log

In [4]:
df.to_csv('data/feed-views-semicolon.log', sep=';')