In [3]:
import pandas as pd

Загрузите файл auto.json
- установить CarNumber в качестве индексного столбца

In [4]:
df = pd.read_json('data/auto.json')
df.set_index('CarNumber', inplace=True)

Cделайте выбор
- отображать только те строки, где штрафы превышают 2100

In [5]:
fines_more_2100 = df[df['Fines'] > 2100]
print(f'Штрафы больше 2100:\n{fines_more_2100}')

Штрафы больше 2100:
              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

отображать только те строки, где штрафы больше 2100, а возврат равен 2

In [6]:
fines_and_refund = fines_more_2100[fines_more_2100['Refund'] == 2]
print(f'Штрафы больше 2100 и возврат равен 2:\n {fines_and_refund}')

Штрафы больше 2100 и возврат равен 2:
               Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

отображать только те строки, где есть модели из списка: [’Focus’, ’Corolla’]

In [7]:
models_in_list = df[df['Model'].isin(['Focus', 'Corolla'])]
print(f'Результаты только для Focus и Corolla:\n {models_in_list}')

Результаты только для Focus и Corolla:
               Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

отображать только те строки, где номер автомобиля есть из списка:
[’Y7689C197RUS’, ’92928M178RUS’, ’7788KT197RUS’, ’H115YO163RUS’, ’X758HY197RUS’]

In [8]:
car_numbers_in_list = df[
    df.index.isin(
        ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']
        )
    ]
print(f'Только те результаты, где номер машины из списка:\n["Y7689C197RUS", "92928M178RUS", "7788KT197RUS", "H115YO163RUS", "X758HY197RUS"]:\n {car_numbers_in_list}')

Только те результаты, где номер машины из списка:
["Y7689C197RUS", "92928M178RUS", "7788KT197RUS", "H115YO163RUS", "X758HY197RUS"]:
               Refund          Fines  Make  Model
CarNumber
92928M178RUS       1    8594.586466  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
Y7689C197RUS       1   27000.000000  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus

Cделать агрегации с маркой и моделью
- отобразить средние штрафы, сгруппированные по маркам

In [9]:
median_fines_by_make = df.groupby('Make')['Fines'].median()
print(f'Средние штрафы, сгруппированные по марке:\n {median_fines_by_make}')

Средние штрафы, сгруппированные по марке:
 Make
Audi          4200.0
BMW           6500.0
Ford          3500.0
Skoda         3250.0
Toyota        7700.0
Volkswagen    4300.0
Volvo         8500.0
Name: Fines, dtype: float64

отобразить средние штрафы, сгруппированные по марке и модели

In [10]:
median_fines_by_make_model = df.groupby(['Make', 'Model'])['Fines'].median()
print(f'Средние штрафы, сгруппированные по марке и модели:\n {median_fines_by_make_model}')

Средние штрафы, сгруппированные по марке и модели:
 Make        Model
Ford        Focus      3500.0
            Mondeo     7650.0
Skoda       Octavia    3250.0
Toyota      Camry      7700.0
            Corolla    7700.0
Volkswagen  Golf       4800.0
            Jetta      2800.0
            Passat     3500.0
            Touareg    5800.0
Name: Fines, dtype: float64

отобразить количество штрафов, сгруппированных по марке и модели

In [11]:
count_fines_by_make_model = df.groupby(['Make', 'Model'])['Fines'].count()
print(f'Количество штрафов, сгруппированных по марке и модели:\n {count_fines_by_make_model}')

Количество штрафов, сгруппированных по марке и модели:
 Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

отображать минимальные и максимальные штрафы, сгруппированные по марке и модели

In [12]:
min_max_fines_by_make_model = df.groupby(['Make', 'Model'])['Fines'].agg(['min', 'max'])
print(f'Минимальные и максимальные штрафы, сгруппированные по марке и модели:\n {min_max_fines_by_make_model}')

Минимальные и максимальные штрафы, сгруппированные по марке и модели:
                        min            max
Make       Model
Ford       Focus     100.0  180000.000000
           Mondeo   1100.0   46200.000000
Skoda      Octavia   300.0  145000.000000
Toyota     Camry     500.0   22400.000000
           Corolla   900.0   34300.000000
Volkswagen Golf      200.0  168000.000000
           Jetta     500.0   46000.000000
           Passat    100.0   29700.000000
           Touareg   500.0    8594.586466

отображать стандартное отклонение штрафов, сгруппированных по марке и модели

In [13]:
std_fines_by_make_model = df.groupby(['Make', 'Model'])['Fines'].std()
print(f'Стандартное отклонение штрафов, сгруппированных по марке и модели:\n {std_fines_by_make_model}')

Стандартное отклонение штрафов, сгруппированных по марке и модели:
 Make        Model
Ford        Focus      15041.269437
            Mondeo     18987.329108
Skoda       Octavia    24339.742174
Toyota      Camry       6410.250654
            Corolla     9629.325617
Volkswagen  Golf       36950.839950
            Jetta      17743.026799
            Passat      6969.739135
            Touareg     3461.778173
Name: Fines, dtype: float64

Cделать агрегации с номером автомобиля
- вывести номера автомобилей, сгруппированные по количеству штрафов в порядке убывания

In [14]:
violations_by_count = df.groupby(df.index)['Fines'].count().sort_values(ascending=False)
print(f'Номера автомобилей, сгруппированные по количеству штрафов в порядке убывания:\n {violations_by_count}')

Номера автомобилей, сгруппированные по количеству штрафов в порядке убывания:
 CarNumber
7788KT197RUS    4
92928M178RUS    4
Y7689C197RUS    4
7830C8197RUS    3
H387TM197RUS    3
               ..
Y965O8197RUS    1
9470EX178RUS    1
Y967O8197RUS    1
9474EX178RUS    1
7064C8197RUS    1
Name: Fines, Length: 531, dtype: int64

выберите из исходного фрейма данных все строки, соответствующие первому номеру автомобиля

In [15]:
first_car_number = violations_by_count.index[0]
first_car_rows = df.loc[first_car_number]
print(f'Все строки, соответствующие первому номеру автомобиля:\n {first_car_rows}')

Все строки, соответствующие первому номеру автомобиля:
               Refund         Fines  Make  Model
CarNumber
7788KT197RUS       2  12000.000000  Ford  Focus
7788KT197RUS       2   8594.586466  Ford  Focus
7788KT197RUS       1  20000.000000  Ford  Focus
7788KT197RUS       2   4000.000000  Ford  Focus

вывести номера автомобилей, сгруппированные по сумме штрафов в порядке убывания

In [16]:
violations_by_total_fines = df.groupby(df.index)['Fines'].sum().sort_values(ascending=False)
print(f'Номера автомобилей, сгруппированные по сумме штрафов в порядке убывания:\n {violations_by_total_fines}')

Номера автомобилей, сгруппированные по сумме штрафов в порядке убывания:
 CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
Y195O8161RUS       100.0
C58078163RUS       100.0
K326T8197RUS       100.0
K376HE161RUS       100.0
83218C154RUS       100.0
Name: Fines, Length: 531, dtype: float64

выберите из исходного фрейма данных все строки, соответствующие первому номеру автомобиля

In [17]:
first_car_number_fines = violations_by_total_fines.index[0]
first_car_rows_fines = df.loc[first_car_number_fines]
print(f'Строки, соответствующие первому номеру автомобиля:\n {first_car_rows_fines}')

Строки, соответствующие первому номеру автомобиля:
               Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

отобразить таблицу, которая отвечает на вопрос: есть ли номера автомобилей, которые были связаны с разными моделями?

In [18]:
car_models_variation = df.groupby(df.index)['Model'].nunique()
multiple_models = car_models_variation[car_models_variation > 1]
print(f'Есть ли номера автомобилей, которые были связаны с разными моделями?:\n {multiple_models}')

Есть ли номера автомобилей, которые были связаны с разными моделями?:
 Series([], Name: Model, dtype: int64)